.form-container > form {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  color: white;
}
.form-container {
  position: absolute;
}
.closed {
  display: none;
}
