.container {
  width: 90%;
  height: 40px;
  background-color: #ccc;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.settings {
  margin-top: auto;
}

a:visited {
  color: inherit;
}
a {
  text-decoration: none;
}
